
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-document:before { content: '\f15b'; } /* '' */
